@import url(./colorTheme.css);
@import url(./navbar.css);

body {
  font-family: roboto, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0px;

  overflow-x: hidden;
  overscroll-behavior: none;
  background-color: var(--background);
  color: var(--text);
}

body.active {
  overflow-y: hidden;
}

* {
  outline: none;
}

.profile-picture {
  background-color: rgb(191,54,13);
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
}