@import url(./colorTheme.css);

body {
  font-family: roboto, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0px;

  overflow-x: hidden;
  overscroll-behavior: none;
  background-color: var(--foreground);
  color: var(--text);
}

body.active {
  overflow-y: hidden;
}