/* General */
@import url(./general.css);
@import url(./header.css);

.body {
  align-items: center;
}

.login-box, .signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--foreground-contrast);
  box-shadow: 0px 0px 3px rgba(63, 63, 63, 0.53);
  width: 100%;
  max-width: 360px;
  height: 380px;
  padding: 20px 36px 32px 36px;
  margin: 36px 0px 0px 0px;
}

.signup-box {
  height: 420px;
}

img {
  height: 50px;
  width: 50px;
  align-self: center;
  margin: 10px 0px;
}

h1 {
  margin: 0px 0px 5px 0px;
  align-self: center;
}

h4 {
  margin: 5px 0px 18px 0px;
  align-self: center;
}

input {
  margin: 10px 0px;
  height: 16px;
  border-radius: 6px;
  border: solid 1px var(--tertiary-text);
  padding: 8px;
}

.submit {
  margin-top: 12px;
  border: none;
  background-color: var(--highlight);
  color: var(--highlight-text);
  height: 42px;
  border-radius: 12px;
  font-size: 22px;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.submit:hover {
  background-color: var(--highlight-hover);
  cursor: pointer;
}

.redirect {
  margin: 12px 0px 0px 0px;
  align-content: center;
}

.redirect a {
  color: var(--highlight);
}

@media (max-width: 480px) {
  .login-box, .signup-box {
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
  }
}

@media (max-width: 400px) {
  .redirect {
    font-size: 14px;
  }

  .body {
    padding-right: 30px;
    padding-left: 30px;
  }
}