/* Map */
.map-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-routing-container {
  display: none !important;
}

/* Map Header */
.header {
  display: flex;
}

.search {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  background-color: rgb(0, 148, 0);
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.303);
  z-index: 500;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.search img {
  height: 28px;
}

.search-bar-js {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 499;
  height: 40px;
  width: 184px;
  padding: 0px 16px 0px 56px;
  border: none;
  cursor: text;
  outline: none;
}

.search input:focus {
  outline: none;
}

.results-box {
  border-radius: 20px;
  width: 216px;
  background-color: white;
  position: absolute;
  top: 60px;
  left: 20px;
  max-height: 200px;
  overflow-y: scroll;
  display: none;
}

.results-shown {
  display: block;
}

.search-results {
  margin: 0px;
  padding: 8px 16px;
  list-style: none;
}

.search-results li {
  height: auto;
  padding: 8px 0px;
  border-bottom: solid rgb(219, 219, 219);
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-results li:hover {
  background-color: rgb(238, 238, 238);
}

.status {
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.256);
  border-radius: 20px;
  color: var(--background);
  padding: 10px 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  z-index: 500;
  transition: bottom 0.3s;
}

.status-location {
  bottom: 48px;
}

.use-location {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 148, 0, 0.796);
  border-radius: 20px;
  color: var(--background);
  padding: 4px 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.295);
  font-size: 14px;
  z-index: 500;
  transition: bottom 0.3s;
  display: none;
  cursor: pointer;
}

.location-shown {
  display: block;
}

.status-up, .location-up {
  bottom: 225px;
}

.status-up-location {
  bottom: 259px;
}

.header-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 16px;
  right: 20px;
  border-radius: 32px;
  z-index: 500;
  width: 88px;
  padding: 4px 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.256);
}

.home-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  background-color: rgba(0, 0, 0, 0.272);
  border-radius: 50%;
}

.home-icon img {
  height: 24px;
  width: auto;
}

.profile-picture {
  background-color: rgb(191,54,13);
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* Info Section */
.ride-info {
  position: absolute;
  bottom: -100vh;
  left: 0px;
  right: 0px;
  height: 86vh;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0 0 6px rgba(49, 49, 49, 0.3);
  z-index: 500;
  background-color: rgb(255, 255, 255);
  transition: bottom 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 40px;
  cursor: default;
}

.ride-info > section {
  width: 100%;
}

.basic-info-shown {
  bottom: calc(-86vh + 185px);
}

.full-info-shown {
  bottom: 0px;
  height: calc(100vh - 96px);
}

/* | X section */
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
}

.path-name {
  font-size: 22px;
  width: 80%;
  margin: 8px 0px;
}

.postal-code {
  color: rgb(142, 142, 142);
  font-size: 18px;
}

.info-x {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: none;
  font-size: 20px;
  font-weight: 800;
  border-radius: 50%;
}

.info-x img {
  height: 20px;
}

/* | Overview Info */
.stat-box-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
}

.stat-box span {
  color: rgb(142, 142, 142);
  font-size: 1rem;
  margin-left: 6px;
}

/* | General Lower Section */
.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* || Tag section */
.tag-section, .lower-tag-section {
  display: flex;
  flex-wrap: wrap;
}

.route-tag {
  background-color: rgb(0, 148, 0);
  border-radius: 20px;
  margin: 0px 6px 0px 0px;
  padding: 3px 8px;
  color: white;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 10px;
}

/* | Itinerary Button */
.more-info {
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 8px 14px;
  border-radius: 16px;
  border: none;
  transition: background-color 0.2s ease;
}

.more-info:hover {
  cursor: pointer;
  background-color: rgb(56, 168, 243);
}

/* | Elevation Section */
.elevation-section {
  font-size: 18px;
  margin-top: 50px;
  transition: margin 0.3s ease;
  border-bottom: solid rgb(219, 219, 219);
}

.elevation-section-show {
  margin-top: 0px;
}

.elevation-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elevation-section h3 {
  margin: 20px 0px 12px 0px;
}

.elevation-upper img {
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.elevation-rotated {
  transform: rotate(180deg);
}

.loading-done {
  display: none;
}

.loading-elevation {
  display: block;
}

.elevation-chart {
  width: 100% !important;
  height: 0 !important;
  overflow: hidden;
  max-width: 400px;
  transition: height 0.4s ease;
}

.elevation-map-shown {
  margin-bottom: 20px;
  height: 200px !important;
}

.lower-tag-section {
  display: none;
  font-size: 12px;
  margin-bottom: 20px;
}

.show-tags {
  display: flex;
}

/* | Itinerary Section */
.itinerary-section {
  margin-top: 20px;
  min-height: 0;
  max-height: 800px;
  overflow-y: auto;
  width: 100%;
  transition: margin 0.3s ease;
}

.instruction-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: solid rgb(219, 219, 219);
}

.instruction-group p {
  font-size: 20px;
  margin: 0px;
  width: 60%;
}

.right-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.instructions-time {
  color: rgb(142, 142, 142);
  font-size: 0.8rem;
  margin-left: 6px;
}