@import url(./map/header.css);
@import url(./map/map-info.css);

/* Map */
.map-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-routing-container {
  display: none !important;
}