nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 48px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 4px 10px;
}

nav a {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 6px;
  height: 64px;
  width: 64px;
}

.current-page {
  background-color: rgb(180, 180, 180);
}

nav img {
  height: 50px;
}

.current-page img {
  height: 60px;
}